body{
    background-color: rgb(216, 211, 225);
}
.role{
    background-color:#485460; ;
    border: #2ecc71 1px solid;
    border-radius: 3%;
    width: 250px;
    height: 120px;
    color: aquamarine;
    margin: 250px 250px;
    align-items: center;
    padding: 10px 15px 20px 40px;
    
}
.role input{
    border: none;
    border-radius: 5px;
    border-top: 2px solid #2ecc71;
    border-bottom: 2px solid #2ecc71;
    background-color: #67707a;
    color: white;
    width: 90% ;
    height: 25px;
}